/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background: #F7FAFC;
}

.neon-glow {
    text-shadow: 0 0 3px rgba(0, 94, 235, 0.404), 0 0 6px rgba(0, 221, 235, 0.3);
}